form{
    background-color: #f8f7b7;
    margin: calc(25% + 70px);
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #a22;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    }